{% extends 'base.html.twig' %}

{% block layout_title %}ChefQuizAI{% endblock %}

{% block body %}
    <div class="d-flex flex-column min-vh-100">
        <header>
            <!-- Common header and navigation elements -->
            <div class="container">
                <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">

                    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-cloud-fog-fill" viewBox="0 0 16 16">
                            <path d="M3 13.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5m0 2a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5m10.405-9.473a5.001 5.001 0 0 0-9.499-1.004A3.5 3.5 0 1 0 3.5 12H13a3 3 0 0 0 .405-5.973"/>
                        </svg>
                        <span class="fs-4 ms-2">ChefQuizAI</span>
                    </a>

                    <ul class="nav nav-pills">

                        {# Check if the user is logged in#}
                        {% if app.user %}

                            <li class="nav-item">
                                <span class="nav-link disabled">User: {{ app.user.name }}</span>
                            </li>

                            <li class="nav-item"><a href="{{ path('home') }}" class="nav-link {{ app.request.attributes.get('_route') is same as('home') ? 'active' : '' }}" aria-current="page">Home</a></li>
                            <li class="nav-item"><a href="{{ path('app_my_quizzes') }}" class="nav-link {{ app.request.attributes.get('_route') is same as('app_my_quizzes') ? 'active' : '' }}">My Quizzes</a></li>

                            {#
                            {% if is_granted('ROLE_TRAINER') %}
                                <li class="nav-item"><a href="{{ path('app_quiz_repository') }}" class="nav-link {{ app.request.attributes.get('_route') is same as('app_quiz_repository') ? 'active' : '' }}">Quiz Repository</a></li>
                                <li class="nav-item"><a href="{{ path('app_generate_quiz') }}" class="nav-link {{ app.request.attributes.get('_route') is same as('app_generate_quiz') ? 'active' : '' }}">Generate Quiz</a></li>
                            {% endif %}
                            #}

                            <li class="nav-item"><a href="{{ path('app_quiz_repository') }}" class="nav-link {{ app.request.attributes.get('_route') is same as('app_quiz_repository') ? 'active' : '' }}">Quiz Repository</a></li>
                            <li class="nav-item"><a href="{{ path('app_generate_quiz') }}" class="nav-link {{ app.request.attributes.get('_route') is same as('app_generate_quiz') ? 'active' : '' }}">Generate Quiz</a></li>



                            <li class="nav-item"><a href="{{ path('profile_edit') }}" class="nav-link {{ app.request.attributes.get('_route') is same as('profile_edit') ? 'active' : '' }}">Account</a></li>

                            <li class="nav-item"><a href="{{ path('app_logout') }}" class="nav-link {{ app.request.attributes.get('_route') is same as('app_logout') ? 'active' : '' }}">Logout</a></li>

                        {% else %}
                            <li class="nav-item"><a href="{{ path('home') }}" class="nav-link {{ app.request.attributes.get('_route') is same as('home') ? 'active' : '' }}" aria-current="page">Home</a></li>
                            <li class="nav-item"><a href="{{ path('app_login') }}" class="nav-link {{ app.request.attributes.get('_route') is same as('app_login') ? 'active' : '' }}" >Login</a></li>
                        {% endif %}

                    </ul>

                </header>
            </div>
        </header>

        <div class="container mt-2">
            <main>
                {% block content %}
                {% endblock %}
            </main>
        </div>

        <!--Common footer elements-->
        <footer class="py-3 my-4">
            <ul class="nav justify-content-center border-bottom pb-3 mb-3">
                <li class="nav-item"><a href="{{ path('home') }}" class="nav-link px-2 text-body-secondary">Home</a></li>
            </ul>
            <p class="text-center text-body-secondary">© 2024 ChefQuizAI, Inc</p>
        </footer>
    </div>
{% endblock %}